/* MAIN SECTION */

.search_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table_search {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.search_content .table_cell {
  float: left;
}

.link_table {
  display: block;
  color: #666;
  text-align: center;
  padding: 0.7rem 0.8rem;
  text-decoration: none;
  font-size: 1.3rem;
  position: relative;
}

.search_content .table_cell .link:hover:not(.active) {
  background-color: #ddd;
}

.search_content .table_cell .link.active {
  color: black;
  font-weight: 500;
}

.search_content .table_cell .active::after {
  content: '';
  display: block;
  position: absolute;
  width: 80%;
  bottom: 0;
  height: 3px;
  background-color: #d51007;
}

.search_header {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 80rem;
}

.split_search {
  margin: 0;
  background-color: #ebebeb;
}

.response_block {
  display: flex;
  width: 70%;
  max-width: 80rem;
}

.response_wrapper {
  width: 70%;
  border-right: 1px solid #ebebeb;
  padding-right: 1rem;
}

.search_input {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ebebeb;
  padding: 0.3rem;
}

.input_field {
  padding: 0.3rem;
  font-size: 17px;
  border: none;
  width: 100%;
  background-color: transparent;
}

.btn_search {
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.btn_search[type='reset'] {
  border-radius: 50%;
  color: rgb(71, 68, 68);
  font-size: 0.8rem;
  background: #ddd;
}

.btn_search[type='submit'] {
  border-radius: 50%;
}

.search_controls {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.search_controls hr {
  margin: 0;
  width: 2px;
  height: 80%;
}

.artists_response,
.albums_response {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0;
  row-gap: 0;
}

.artists_cell,
.albums_cell {
  height: 14rem;
  width: 14rem;
  position: relative;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  transition: ease 0.3s;
}

.artists_cell:hover,
.albums_cell:hover {
  filter: grayscale(0.3);
}

.artists_cell .cover,
.albums_cell .cover {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}

.artists_cell .cover .image,
.albums_cell .cover .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.artists_cell .text,
.albums_cell .text {
  position: absolute;
  text-shadow: 0 0 10px rgb(0 0 0 / 70%);
  z-index: 3;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.more_artists,
.more_tracks,
.more_albums {
  margin: 1rem 0;
  width: 100%;
  text-align: right;
}

.link_albums,
.link_tracks,
.link_artists {
  font-size: 1.2rem;
  color: blue;
}

.tracks_block {
  display: flex;
  flex-direction: column;
}

.track_cell {
  padding: 0.5rem;
  margin-top: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  border-bottom: 1px solid #ebebeb;
}

.track_info {
  display: flex;
  align-items: center;
}

.track_play {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  margin-right: 1rem;
}

.track_cover {
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
}

.track_name {
  margin-right: 6rem;
}

.inner_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* END OF MAIN SECTION */
